<% @projects.each do |project| %>
  <%= image_tag(project.picture, alt: "a nice project", style: "width: 200px") %>
  <h3><%= project.title %></h3>
  <p><%= project.info %></p>
  <p><%= project.subtitle %></p>
<% end %>
